@charset "utf-8";
.title {
  color:black;
  background-color: #E07E1C;
  border-width: thick;
  border-style: solid;
  border-color: black;
}

.lookat {
  color:black;
  background-color:#E07E1C;
  border-width:thick;
  border-style:solid;
  border-color:black;
}

.Options {
  background-color: coral;
  border-width:thick;
  border-style:solid;
  border-color:black;
}

body {
    font-family: helvetica;
    background-color: #E07E1C;
}

ul {
    font-family: helvetica;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
}

.light-theme {
  color: #000000;
  background: #E07E1C;
}

.btn {
  position: static;
  top: 20px;
  left: 250px;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: none;
  color: #E07E1C;
  background-color: #000000;
}
