@charset "utf-8";
.title {
  color:black;
  background-color: #E07E1C;
  border-width: thick;
  border-style: solid;
  border-color: black;
}

.lookat {
  color:black;
  background-color:#E07E1C;
  border-width:thick;
  border-style:solid;
  border-color:black;
}

.Options {
  background-color: coral;
  border-width:thick;
  border-style:solid;
  border-color:black;
}

body {
    font-family: helvetica;
    background-color: #E07E1C;
}

ul {
    font-family: helvetica;
}

.light-theme {
  color: #000000;
  background: #E07E1C;
}

.btn {
  color: #E07E1C;
  background-color: #000000;
}
